# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local

# Arquivos de compilação
dist/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações dos editores
.vscode/
.idea/
